<%- include('parts/header') %>
<%- include('parts/navbar') %>
<div class="container text-center">
    <form action="/admin/add" enctype="multipart/form-data" method="POST">
        <h3>Add Product</h3>


        <input type="text" name="name" placeholder="Name" class="form-control" required>
        <% let nameErro = validationErros.find(err => err.param === 'name') %>
        <% if (nameErro){%>
        <p class="alert alert-danger">
            <%= nameErro.msg %>
        </p>
        <%}%>


    
        
        <input type="number"  name="price" placeholder="Price" class="form-control" required >
            <% let priceErro = validationErros.find(err => err.param === 'price') %>
        <% if (priceErro){%>
        <p class="alert alert-danger">
            <%= priceErro.msg %>
        </p>
        <%}%>


        <input type="text" name="description" placeholder="Description" class="form-control" required>
            <% let descriptionErro = validationErros.find(err => err.param === 'description') %>
        <% if (descriptionErro){%>
        <p class="alert alert-danger">
            <%= descriptionErro.msg %>
        </p>
        <%}%>

      
        
     
        <select name="category" class="form-control" required>
            <option disabled selected> choose a category</option>

            <option value="clothes" autofocus> clothes </option>
            <option value="womens_accessories"> women's accessories </option>
        </select>
        <% let categoryErro = validationErros.find(err => err.param === 'category') %>
        <% if (categoryErro){%>
        <p class="alert alert-danger">
            <%= categoryErro.msg %>
        </p>
        <%}%>


        <input type="file"  accept='image/*' name="image" placeholder="Select image" class="form-control" required>
        <% let imageErro = validationErros.find(err => err.param === 'image') %>
        <% if (imageErro){%>
        <p class="alert alert-danger">
            <%= imageErro.msg %>
        </p>
        <%}%>

        

            <fieldset>
                <legend>Please select one of the following size</legend>
                <input type="checkbox" name="size"  value="39" /><label for="size">size : 39</label><br />
                <input type="checkbox" name="size"  value="40"  /><label for="size">size : 40</label><br />
                <input type="checkbox" name="size"  value="41" /><label for="size">size : 41</label><br />
          
                <input type="checkbox" name="size"  value="42" /><label for="size">size : 42</label><br />
                <input type="checkbox" name="size"  value="43"  /><label for="size">size : 43</label><br />
                <input type="checkbox" name="size"  value="44" /><label for="size">size : 44</label><br />
                
                <input type="checkbox" name="size"  value="45" /><label for="size">size : 45</label><br />
                <input type="checkbox" name="size"  value="46"  /><label for="size">size : 46</label><br />
                <input type="checkbox" name="size"  value="47" /><label for="size">size : 47</label><br />
            </fieldset>
            
            <input type="color" name="first_color">
            <input type="color" name="second_color">
            <input type="color" name="third_color">
        <input class="btn btn-primary" type="submit" value='Add Product'>


    </form>
</div>

<%- include('parts/footer') %>