<%- include('parts/header') %>
<%- include('parts/navbar') %>














<!--Start body -->

<body id="bo">
    <% if(orders.length == 0){%>
    <p class="alert alert-danger">there no Order yet</p>
    <% } else { %>

    <div class="mange-order-page">
        <div class="container">
            <div class="mange-order-page__shearch-bar">
                <form>

                    <input class="shearch-bar--shearch-input" type="search" placeholder="Srach">

                    <select>
                        <option>on process</option>
                    </select>


                </form>
            </div> <!-- .mange-order-page__shearch-bar -->

            <div class="mange-order-system-wraper">



                <div class="order-bar">
                    <% for(let i = 0 ; i < orders.length ; i++){ %>

                    <div class="order-Abstract" onclick="gethi(this)">

                        <input class="fullorderinfoKey" type="hidden" value="<%= orders[i]._id %>" name="OrderId">

                        <% let orderDate = new Date(orders[i].orderInfo.date)      %>

                        <% let year , month , day ,hour ;
                    year = orderDate.getFullYear() ; month = orderDate.getMonth() ;
                    day = orderDate.getDate()  ; 
                        %>



                        <span class="order-Abstract--date"> <%= year + "/" + month + "/" + day %></span>

                        <h6 class="order-Abstract--email">mohand.mostafa9811@gamil.com</h6>
                        <div class="order-Abstract--info-wraper">
                            <span class="order-Abstract--status">on process</span>
                            <span class="order-Abstract--qty">QTY <%= orders[i].orderInfo.CartProductAmount %></span>
                            <span class="order-Abstract--price"><%= orders[i].orderInfo.CartTotal %> EGP</span>


                        </div> <!-- .order-Abstract -->

                    </div> <!-- .order-Abstract-->
                    <% } %>
                </div> <!--  .order-bar-->


                <div class="mange-order-panal">

                    <header class="mange-order-panal--header ">
                        <span>order info</span>
                        <span>order items</span>
                        <span>buyer info</span>
                    </header>
                    <div class="mange-order-panal--product-wraper ">

                        <div class="mange-order--table-header display-non855">

                            <span>imag</span>
                            <span>name</span>
                            <span>QTY</span>
                            <span>size</span>
                            <span>color</span>
                            <span>unite price</span>
                            <span>total</span>
                        </div> <!-- .mange-order--table-header -->

                        <div class="mange-order--table-body">

                            <!-- .mange-order--table-body__order-wraper-->
                        </div> <!-- .mange-order--table-body -->

                        <div class="mange-order--table-footer">

                        </div> <!-- .mange-order--table-footer -->

                    </div> <!-- .mange-order-page -->

                </div> <!-- .mange-order-panal -->

            </div> <!-- mange-order-system-wraper-->

        </div> <!-- .container -->
    </div><!-- .mange-order-page-->




    <% } %>
    <script>
        orders = JSON.parse('<%- JSON.stringify(orders) %>');


    </script>
    <%- include('parts/footer')%>