<%- include('parts/header') %>
<%- include('parts/navbar') %>














<!--Start body -->

<body id="bo">
    <%
  
         let orders = '';
         
    if(searchResult.length > 0  && searchResult[0] != -1){
        

  orders = searchResult 
   

    }else{ 
     orders =  AllOrders 
    

    } %>


    <% if(orders.length == 0){%>
    <p class="alert alert-danger">there no Order yet</p>
    <% } else { %>

    <div class="mange-order-page">
        <div class="container">
            <div class="mange-order-page__shearch-bar">
                <form method="POST">

                    <input class="shearch-bar--shearch-input" type="search" placeholder="Srach" name="mangeOrderSearch">

                    <select name="mangeOrderStatus">
                        <option value="on process">on process</option>
                        <option value="accepted">accepted</option>
                        <option value="in delivery">in delivery</option>
                        <option value="delivered">delivered</option>
                    </select>

                    <input type="submit" class="btn btn-success" formaction="/admin/orders/search">
                </form>
            </div> <!-- .mange-order-page__shearch-bar -->

            <div class="mange-order-system-wraper">




                <div class="order-bar">
                    <%  let year , month , day ,hour ; %>
                    <% for(let i = 0 ; i < orders.length ; i++){ %>

                    <div class="order-Abstract" onclick="gethi(this)">

                        <input class="fullorderinfoKey" type="hidden" value="<%= orders[i]._id %>" name="OrderId">

                        <% let orderDate = new Date(orders[i].orderInfo.date)      %>

                        <%
                    year = orderDate.getFullYear() ; month = orderDate.getMonth() ;
                    day = orderDate.getDate()  ; 
                        %>



                        <span class="order-Abstract--date"> <%= year + "/" + month + "/" + day %></span>

                        <h6 class="order-Abstract--email"><%= orders[i].buyerInfo.userEmail %></h6>
                        <div class="order-Abstract--info-wraper">
                            <span class="order-Abstract--status"><%= orders[i].orderInfo.status %></span>
                            <span class="order-Abstract--qty">QTY <%= orders[i].orderInfo.CartProductAmount %></span>
                            <span class="order-Abstract--price"><%= orders[i].orderInfo.CartTotal %> EGP</span>


                        </div> <!-- .order-Abstract -->

                    </div> <!-- .order-Abstract-->
                    <% } %>


                </div> <!--  .order-bar-->


                <div class="mange-order-panal">
                    <header class="mange-order-panal--header ">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                                role="tab" aria-controls="nav-home" aria-selected="true">order info</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-buyerInfo"
                                role="tab" aria-controls="nav-profile" aria-selected="false">order items</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                                role="tab" aria-controls="nav-contact" aria-selected="false">buyer info</a>
                        </div>
                    </header>

                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                            aria-labelledby="nav-home-tab">
                            <div class="mange-order-panal--product-wraper ">

                                <div class="mange-order--table-header ">

                                    <span>imag</span>
                                    <span>name</span>
                                    <span>QTY</span>
                                    <span>size</span>
                                    <span>color</span>
                                    <span>unite price</span>
                                    <span>total</span>
                                </div> <!-- .mange-order--table-header -->

                                <div class="mange-order--table-body">
                                    <% for(let item of orders[0].item) { %>
                                    <div class="mange-order--table-body__order-wraper">
                                        <span><img src='/<%= item.image_name %>' width="50" /></span>
                                        <span><%=item.name %></span>
                                        <span><%=item.amount %></span>
                                        <span><%=item.size %></span>
                                        <span>
                                            <span
                                                style="display: inline-block; background-color: <%=item.color %>; border-radius: 50%; width: 20px; height: 20px;"></span>
                                        </span>
                                        <span><%=item.price %> EGP</span>
                                        <span><%=item.amount * item.price %> EGP</span>
                                    </div>
                                    <%}%>

                                    <!-- .mange-order--table-body__order-wraper-->
                                </div> <!-- .mange-order--table-body -->

                                <div class="mange-order--table-footer">
                                    <div class="mange-order--bill-check">

                                        <div class="bill-check--content-wraper">
                                            <span>QTY</span>
                                            <span><%=orders[0].orderInfo.CartProductAmount %> unite</span>
                                </div>
                                <div class="bill-check--content-wraper">
                                    <span>subtotal</span>
                                    <span><%=orders[0].orderInfo.subTotal %> EGP</span>
                                </div>
                                <div class="bill-check--content-wraper">
                                    <span>shipping cost</span>
                                    <span><%=orders[0].orderInfo.ShippingCost %> EGP</span>
                                </div>
                                <div class="bill-check--content-wraper">
                                    <span>Total</span>
                                    <span> <%=orders[0].orderInfo.CartTotal %> EGP</span>
                                </div>


                            </div>

                        </div> <!-- .mange-order--table-footer -->

                    </div> <!-- .mange-order-page -->
                </div>
                <div class="tab-pane fade" id="nav-buyerInfo" role="tabpanel" aria-labelledby="nav-profile-tab">

                    <div class="mange-order-panal--buyer-info">
                        <div class="mange-order-panal--buyer--info-content-wraper">

                            <div class="buyer-info">
                                <span>First Name</span>
                                <span><%= orders[0].buyerInfo.firstName%></span>
                            </div>

                            <div class="buyer-info">
                                <span>Last Name</span>
                                <span><%= orders[0].buyerInfo.lastName%></span>
                            </div>

                            <div class="buyer-info">
                                <span>Address 1</span>
                                <span><%= orders[0].buyerInfo.addressLine1%></span>
                            </div>

                            <div class="buyer-info">
                                <span>Address 2</span>
                                <span><%= orders[0].buyerInfo.addressLine2%></span>
                            </div>

                            <div class="buyer-info">
                                <span>City</span>
                                <span><%= orders[0].buyerInfo.city%></span>
                            </div>

                            <div class="buyer-info">
                                <span>Telephone</span>
                                <span><%= orders[0].buyerInfo.mobileNumber%></span>
                            </div>

                            <div class="buyer-info">
                                <span>Email</span>
                                <span><%= orders[0].buyerInfo.userEmail%></span>
                            </div>
                        </div>
                    </div>
                    <!-- inject from javascript-->
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="mange-order-panal--order-info">
                        <div class="right-side--order-info">
                            <div class="buyer-info--shipping-info">
                                <span><%= orders[0].buyerInfo.firstName %>
                                    <%= orders[0].buyerInfo.lastName%></span>
                                <span><%= orders[0].buyerInfo.mobileNumber%></span>
                                <span><%= orders[0].buyerInfo.addressLine1%></span>
                                <span><%= orders[0].buyerInfo.addressLine2%></span>
                            </div>
                            <!-- buyer-info--shipping-info -->


                            <div class="buyer-info--bill-check">
                                <div class="bill-check--content-wraper">
                                    <span>QTY</span>
                                    <span><%=orders[0].orderInfo.CartProductAmount%> unite</span>
                                </div>
                                <div class="bill-check--content-wraper">
                                    <span>subtotal</span>
                                    <span><%=orders[0].orderInfo.subTotal%> EGP</span>
                                </div>
                                <div class="bill-check--content-wraper">
                                    <span>shipping cost</span>
                                    <span><%=orders[0].orderInfo.ShippingCost%> EGP</span>
                                </div>
                                <div class="bill-check--content-wraper">
                                    <span>Total</span>
                                    <span> <%=orders[0].orderInfo.CartTotal%> EGP</span>
                                </div>
                                <!-- bill-check--content-wraper -->



                            </div>

                        </div>

                        <div class="left-side--order-info">
                            <div class="buyer-info-data-and-email">
                                <span><%= year + "/" + month + "/" + day %></span>
                                <span> <%= orders[0].buyerInfo.userEmail %></span>
                            </div>
                            <div class="buyer-info-panal-control">
                                <form method="POST">
                                    <select name="editedStatus">
                                        <option value="on process">on process</option>
                                        <option value="accepted">accepted</option>
                                        <option value="in delivery">in delivery</option>
                                        <option value="delivered">delivered</option>
                                    </select>
                                    <input type="hidden" name="cartId" value="<%= orders[0]._id%>">
                                    <input type="submit" value="Save" class="btn btn-success"
                                        formaction="/admin/orders/save">
                                    <button type="submit" class="btn btn-danger"
                                        formaction="/admin/orders/cancel">Cancel
                                        order</button>
                                </form>
                                <!--form-->
                            </div>


                        </div>
                    </div>





                </div> <!-- .mange-order-panal -->

            </div> <!-- mange-order-system-wraper-->

        </div> <!-- .container -->
    </div><!-- .mange-order-page-->




    <% } %>
    <script>
        orders = JSON.parse('<%- JSON.stringify(orders) %>');


    </script>
    <%- include('parts/footer')%>