<%- include('parts/header') %>
<%- include('parts/navbar') %>














<!--Start body -->

<body id="bo">
    <% if(orders.length == 0){%>
    <p class="alert alert-danger">there no Order yet</p>
    <% } else { %>

    <div class="mange-order-page">
        <div class="container">
            <div class="mange-order-page__shearch-bar">
                <form>

                    <input class="shearch-bar--shearch-input" type="search" placeholder="Srach">

                    <select>
                        <option>on process</option>
                    </select>


                </form>
            </div> <!-- .mange-order-page__shearch-bar -->

            <div class="mange-order-system-wraper">



                <div class="order-bar">
                    <% for(let i = 0 ; i < orders.length ; i++){ %>

                    <div class="order-Abstract" onclick="gethi(this)">

                        <input class="fullorderinfoKey" type="hidden" value="<%= orders[i]._id %>" name="OrderId">

                        <% let orderDate = new Date(orders[i].orderInfo.date)      %>

                        <% let year , month , day ,hour ;
                    year = orderDate.getFullYear() ; month = orderDate.getMonth() ;
                    day = orderDate.getDate()  ; 
                        %>



                        <span class="order-Abstract--date"> <%= year + "/" + month + "/" + day %></span>

                        <h6 class="order-Abstract--email">mohand.mostafa9811@gamil.com</h6>
                        <div class="order-Abstract--info-wraper">
                            <span class="order-Abstract--status"><%= orders[i].orderInfo.status %></span>
                            <span class="order-Abstract--qty">QTY <%= orders[i].orderInfo.CartProductAmount %></span>
                            <span class="order-Abstract--price"><%= orders[i].orderInfo.CartTotal %> EGP</span>


                        </div> <!-- .order-Abstract -->

                    </div> <!-- .order-Abstract-->
                    <% } %>
                </div> <!--  .order-bar-->


                <div class="mange-order-panal">
                    <header class="mange-order-panal--header ">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                                role="tab" aria-controls="nav-home" aria-selected="true">order info</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-buyerInfo"
                                role="tab" aria-controls="nav-profile" aria-selected="false">order items</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                                role="tab" aria-controls="nav-contact" aria-selected="false">buyer info</a>
                        </div>
                    </header>

                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                            aria-labelledby="nav-home-tab">
                            <div class="mange-order-panal--product-wraper ">

                                <div class="mange-order--table-header ">

                                    <span>imag</span>
                                    <span>name</span>
                                    <span>QTY</span>
                                    <span>size</span>
                                    <span>color</span>
                                    <span>unite price</span>
                                    <span>total</span>
                                </div> <!-- .mange-order--table-header -->

                                <div class="mange-order--table-body">

                                    <!-- .mange-order--table-body__order-wraper-->
                                </div> <!-- .mange-order--table-body -->

                                <div class="mange-order--table-footer">

                                </div> <!-- .mange-order--table-footer -->

                            </div> <!-- .mange-order-page -->
                        </div>
                        <div class="tab-pane fade" id="nav-buyerInfo" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <!-- inject from javascript-->
                        </div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <div class="mange-order-panal--order-info">
                                <div class="right-side--order-info">
                                    <div class="buyer-info--shipping-info">

                                    </div>
                                    <!-- buyer-info--shipping-info -->


                                    <div class="buyer-info--bill-check">

                                        <!-- bill-check--content-wraper -->



                                    </div>

                                </div>

                                <div class="left-side--order-info">
                                    <div class="buyer-info-data-and-email">
                                        <span>15/5/2020</span>
                                        <span>mohand.mostafa9811@gmail.com</span>
                                    </div>
                                    <div class="buyer-info-panal-control">
                                        <!--form-->
                                    </div>


                                </div>
                            </div>





                        </div> <!-- .mange-order-panal -->

                    </div> <!-- mange-order-system-wraper-->

                </div> <!-- .container -->
            </div><!-- .mange-order-page-->




            <% } %>
            <script>
                orders = JSON.parse('<%- JSON.stringify(orders) %>');


            </script>
            <%- include('parts/footer')%>