<%- include('parts/header') %>
<%- include('parts/navbar') %>


<!--Start .shipTo -->



<div class="shipTo">
    <div class="container">
        <div class="shiptTO--textWraper">
            <h2 class="shiptTO--textWraper__title">ship to</h2>
            <div class="shiptTO--textWraper__required"> <span class="form--inputWraper__labelStar">* </span>
                Required
            </div>
        </div>
        <form method="POST">
            <div class="form--inputWraper">
                <label class="form--inputWraper__label">first name <span
                        class="form--inputWraper__labelStar">*</span></label>
                <input class="form--inputWraper__input" name="firstName" type="text" placeholder="Demo">
            </div>
            <div class="form--inputWraper">
                <label class="form--inputWraper__label">last name <span
                        class="form--inputWraper__labelStar">*</span></label>
                <input class="form--inputWraper__input" name="lastName" type="text" placeholder="preview">
            </div>
            <div class="form--inputWraper">
                <label class="form--inputWraper__label">address line 1 <span
                        class="form--inputWraper__labelStar">*</span></label>
                <input class="form--inputWraper__input" name="addressLine1" type="text" placeholder="xx Ann ave">
            </div>
            <div class="form--inputWraper">
                <label class="form--inputWraper__label">address line 2 <span
                        class="form--inputWraper__labelStar"></span></label>
                <input class="form--inputWraper__input" name="addressLine2" type="text" placeholder="">
            </div>
            <div class="form--inputWraper">
                <label class="form--inputWraper__label">city <span class="form--inputWraper__labelStar">*</span></label>
                <input class="form--inputWraper__input" name="city" type="text" placeholder="Cairo">
            </div>
            <div class="form--inputWraper">
                <label class="form--inputWraper__label">mobile number <span
                        class="form--inputWraper__labelStar">*</span></label>
                <input class="form--inputWraper__input " name="mobileNumber" type="text" placeholder="01******5">
            </div>


            <!-- start orderInfor input-->
            <input type="hidden" name="subTotal" value="<%= orderInfo.subTotal %>">

            <input type="hidden" name="ShippingCost" value="<%= orderInfo.ShippingCost %>">

            <input type="hidden" name="CartTotal" value="<%= orderInfo.CartTotal %>">

            <input type="hidden" name="CartProductAmount" value="<%= orderInfo.CartProductAmount %>">


            <!-- end orderInfor input-->
            <!-- order button funcation
            
      
                 <%# if (orderItem.order == "order") { %>
      
            <input type="hidden" name="cartId" value="<%# =orderItem.cartId %>">
            <div class="form--submitWraper">
                <input formaction="/orders" class="form--submitWraper__submitBtn" type="submit" value="Next">
            </div>

            <%# }else{%>   

                -->

            <%# } %>

            <div class="form--submitWraper">
                <input formaction="/orders/orderAll" class="form--submitWraper__submitBtn" type="submit" value="Next">
            </div>




        </form>
    </div>


</div>
<!--end .shipTo -->


<%- include('parts/footer') %>